@model DiabetesRavenKendo.Models.InsulinDosageModel

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Units)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Units)
    @Html.ValidationMessageFor(model => model.Units)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.InjectionLocation)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.InjectionLocation)
    @Html.ValidationMessageFor(model => model.InjectionLocation)
</div>

