@model IEnumerable<DiabetesRavenKendo.Models.InsulinDosageModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Units
        </th>
        <th>
            InsulinType
        </th>
        <th>
            InjectionLocation
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@String.Format("{0:F}", item.Units)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.InsulinType).ToString()
        </td>
        <td>
			@item.InjectionLocation
        </td>
    </tr>
}

</table>


